<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inbox</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/in.css') }}" type="text/css" />
  </head>
  <body>
    <header>
      <h1>N-MAIL</h1>
    </header>
    <form action="outbox" class="log" method="post">
      <button type="submit" name="log" value="log">Sign Out</button>  
    </form>
    <form action="new" class="new" method="post">
      <button type="submit" name="new" value="new"><h4>New</h4></button>
    </form>
    <form action="inbox" class="box" method="post">
      <button type="submit" name="inb" value="inb">Inbox({{ length }})</button>
      <button type="button" name="out" value="out">Outbox</button>
    </form>
    <form action="trash" class="box3" method="post">
      <button type="submit" name="trash" value="trash">Trash</button>
    </form>
    <form class="inbox" action="outbox" method="post">
      {% for pmail in mails %}
      <button type="submit" name="ident" value="{{pmail.ident}}"><span class="user">{{pmail.reciever}}</span><br>{{pmail.date}}<br>{{pmail.subject}}</button>
      {% endfor %}
    </form>
    <div class="mail">
      {% if (mail is not none) %}
      <h2>{{ mail.subject }}({{ mail.date }})
        <form class="buttons" action="outbox" method="post">
          <button type="submit" name="delete" value="{{ mail.ident }}"><img src="{{ url_for('static',filename='img/delete.png') }}" alt="delete" class="delete"/></button>
	</form> 
      </h2>
      <h3>To: {{ mail.reciever }}</h3>
      <p>{{ mail.text|safe }}</p>
      {% endif %}
    </div>
  </body>
</html>

        
